body {
    overflow-x: hidden;
}

.addProduct{
    background-color: #929292;
    color: #090C0C;
    text-decoration: none
}

.preview{
    width : 45%;
    position: relative;
}

.uploadImageIcon {
    position: absolute;
    right: 10px;
    height: 75px;
    bottom: 35px;
    z-index: 999;
}

.productImageContainer{
    width : 100%;
    height : 720px;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-upload {
    cursor: pointer;
}

.file-upload input {
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    display: none;
}

.formAdd {
    width: 45%;
}

.form-item{
    background-color : transparent;
    border-right : 0;
    border-left : 0;
    border-top: 0;
    border: 1px solid #bbb;
    border-radius:5px;
    color:white;
}

.productName:active{
    border:0;
}

.productImageUpload{
    background-color : transparent;
    background:none;
    border-radius:5px;
    color:white;
}

.basic-information {
    border-radius: 5px;
}

.typeLabelcss {
    color: #b3b3b3;
}

.textLabel {
    font-size: 0.9rem;
    color: #FCBF49;
}

.typeListcss label{
    margin-left : 10px;
    color :white;
}

.typeListcss{
    display : flex;
}

.error-text{
    color : red;
}