/* Default navbar*/

nav {
    height: 10vh;
}

.navbar-dark .navbar-brand {
    color: white;
    font-family: "Inria Serif", sans-serif;
    font-size: 36px;
    transition: 0.2s ease-in-out;
}
.navbar-dark .navbar-brand:hover {
    color: #CCCCCC;
    transition: 0.2s ease-in-out;
}
.navbar-brand img {
    width: 70px;
}

.navbar-line {
    width: 1px;
    height: 40px;
    border: 1px solid white;
}

.nav-item {
    font-family: "Inder", sans-serif;
    font-size: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: 0.2s ease-in-out;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #CCCCCC;
    transition: 0.2s ease-in-out;
}

.search-wrapper {
    position: relative;
}
.searchbar {
    color: white;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    background-color: #3A3A3A;
    font-family: "Inder", sans-serif;
    font-size: 12px;
    width: 250px;
}
.search-wrapper img {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 15px;
}

/* Authenticated navbar */

.accountImg {
    width: 20px;
    height: 20px;
}

#logoutBtn {
    font-family: "Inder", sans-serif;
    font-size: 20px;
    color: white;
    transition: 0.2s ease-in-out;
    padding: 0;
}
#logoutBtn:hover {
    color: #CCCCCC;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.uploadImg {
    width: 30px;
    height: 30px;
}

#uploadBtn {
    font-family: "Inder", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.2s ease-in-out;
    background-image: linear-gradient(#FCBF49, #FFA800);
}
#uploadBtn:hover {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    background-image: linear-gradient(#F8B941, #D68D00);
}

@media (max-width: 1199px) {
    nav {
        height: auto;
    }

    .navbar-line {
        display: none;
    }

    .search-wrapper img {
        left: 225px;
    }
}