body {
    width: 100%;
    background: linear-gradient(black, #151515 20%, #252525 60%, #2F2F2F);
}

.detailWrapper {
    min-height: 80vh;
    color: white;
    width: 100%;
}

.productImage {
    width: 300px;
}

.container {
    margin: 0;
}

.sellerLink {
    color: #FCBF49;
    transition: 0.2s ease-in-out;
}

.sellerLink:hover {
    color: #E99900;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.btn-outline-light:hover {
    background-color: #FCBF49;
    border-color: #FCBF49;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.non-functional-btn {
    background-color: #212529;
    border-radius: 10px;
    border: 1px solid #878787;
    color: white;
}

.non-functional-btn:hover {
    color: white;
}

@media (max-width: 768px) {
    .productText {
        justify-content: center;
        align-items: center;
    }
}