body {
    background: linear-gradient(45deg, #1C1C1C, #252525, #2F2F2F);
    color: black;
}

.form-control {
    background: transparent;
    color: #fff;
    border: 1px solid #878787;
}

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8;
    }

.profile-button, .add-address, .address-button {
    background: #E99900;
    box-shadow: none;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .profile-button:hover, .add-address:hover, .address-button:hover {
        background-color: #cc7a00; /* Darker shade of #E99900 */
        box-shadow: inset 0 0 0 10cm rgba(0, 0, 0, 0.3);
    }

    .profile-button:focus, .add-address:focus, .address-button:focus,
    .profile-button:active, .add-address:active, .address-button:active {
        background: #E99900;
        box-shadow: none;
    }

.back:hover {
    color: #682773;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
}

.container {
    width: 90%;
    max-width: 1200px;
    background: transparent;
    box-shadow: none;
}

.scrollable-column {
    height: 250px;
    overflow-y: auto;
    padding: 10px;
    background: transparent;
    border: 1px solid #878787;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.address-section {
    border-right: none;
}

.border-right {
    border-right: 2px solid #878787 !important;
}

.profile-section h4 {
    color: #E99900;
}

.labels {
    color: black;
}

.address-section h4 {
    color: #E99900;
}
