body {
    background: linear-gradient(black, #151515 20%, #252525 60%, #2F2F2F);
}

.cartWrapper {
    width: 100%;
    min-height: 90vh;
    font-family: "Inder", sans-serif;
    color: white;
    padding: 0 50px;
}

.cartTitle {
    font-size: 28px;
    font-weight: 600;
}

.productTitle {
    width: 300px;
    text-align: center;
}

.priceTitle {
    width: 200px;
    text-align: center;
}

.quantityTitle {
    width: 150px;
    text-align: center;
}

.totalPriceTitle {
    width: 200px;
    text-align: center;
}

.cartSubtitle {
    font-size: 18px;
}

.cartSubtitleHighlight {
    color: #FCBF49;
}

.cartContent {
    width: 100%;
}

.cartItemListWrapper {
    width: 850px;
    background-color: #323232;
    border-radius: 10px;
}

.cartItemListTitle {
    width: 100%;
    padding: 15px 30px;
}

.cartItemWrapper {
    padding: 15px 30px;
}

.cartItemImage {
    width: 100px;
    margin-right: 20px;
}

.cartItemDescription {
    width: 175px;
}

.cartItemSellerName {
    color: #FCBF49;
    font-size: 14px;
}

.cartItemPrice {
    width: 200px;
    text-align: center;
}

.cartItemQuantity {
    width: 150px;
    text-align: center;
}

.cartItemTotalPrice {
    width: 200px;
    color: #FCBF49;
    text-align: center;
}

.cartItemSeparator {
    width: 800px;
    border: 1px solid rgba(255,255,255,.25);
    align-self: center;
}

.summaryWrapper {
    width: 400px;
    background-color: #323232;
    border-radius: 10px;
}

.btn-outline-light:hover {
    background-color: #FCBF49;
    border-color: #FCBF49;
}

.summaryTitle {
    font-size: 24px;
}

.summaryPriceHighlight {
    color: #FCBF49;
    text-align: right;
    padding-left: 10px;
}

.summarySeparator {
    width: 100%;
    border: 1px solid rgba(255,255,255,.25);
    align-self: center;
}

.summaryTotal {
    font-size: 18px;
}

.removeBtn {
    padding: 0;
    color: white;
    text-decoration: underline;
}

.removeBtn:hover {
    color: #FCBF49;
    text-decoration: underline;
}

.qtyBtn {
    color: white;
}

.qtyBtn:hover {
    color: white;
}

.non-functional-btn {
    width: 100%;
    background-color: #212529;
    color: white;
}

.non-functional-btn:hover {
    color: white;
}

@media (max-width: 1500px) {
    .cartWrapper {
        padding: 0 10px;
    }

    .cartContent {
        flex-direction: column;
    }

    .summaryWrapper {
        margin-top: 30px;
    }

    .cartItemListWrapper {
        width: 500px;
    }

    .cartItemImage {
        margin: 0;
    }

    .cartItemSeparator {
        width: 85%;
    }

    .cartItemListTitle {
        flex-direction: column;
        align-items: center;
    }

    .cartItemWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .cartItemDescription {
        align-items: center;
        width: 100%;
        text-align: center;
    }
}