body {
    background: linear-gradient(black, #151515 20%, #252525 60%, #2F2F2F);
}

.updateProfileWrapper {
    width: 100%;
    min-height: 90vh;
    font-family: "Inder", sans-serif;
    color: white;
}

.updateProfileTitle {
    font-size: 32px;
}

.updateProfileImageWrapper {
    position: relative;
}

.profilePictureImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.uploadImageIcon {
    position: absolute;
    right: -20px;
    height: 50px;
    bottom: 0;
}

.file-upload {
    cursor: pointer;
}

.file-upload input {
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    display: none;
}

.updateProfileContent {
    width: 40%;
}

.updateProfileInputWrapper {
    width: 90%;
}

.updateProfileLabel {
    color: #b3b3b3;
}

.updateProfileTB {
    background-color: transparent;
    border: 0;
    color: white;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #efefef;
    padding-left: 10px;
}

.userDescriptionTB {
    height: 150px;
}

.updateProfileTB:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.updateProfileTB::placeholder {
    color: #6E6E6E;
}

.updateProfileTB:-webkit-autofill {
    -webkit-box-shadow: none;
    background-color: transparent;
}

.updateProfileBtn {
    width: 100px;
}

.btn-outline-light:hover {
    background-color: #FCBF49;
    border-color: #FCBF49;
}